<% @links.each do |link| %>
  <div>
    <%= distance_of_time_in_words(link.created_at, Time.zone.now) %> -
    <% if !link.email_links.empty? %>
      <%= link.email_links.map(&:email).map(&:from_name).join(", ") %> -
      <%= link_to link.email_links.first.title, link.url %>
    <% else %>
      <%= link_to link.url, link.url %>
    <% end%>
  </div>
<% end %>
