<h1><%= @email.subject %></h1>
<p>
  <%= @email.from_name.to_s + ", " + @email.from_email.to_s %>
  <%= button_to "delete", @email, method: :delete %>
</p>
<div id="email-body">
  <%= @email.html.to_s.html_safe %>
</div>
